<!DOCTYPE HTML>
<html lang="en">
<head>
	<title>新加坡舊體詩庫-南洋風俗</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8">


	<!-- Font -->

	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">


	<!-- Stylesheets -->

	<link href="../static/common-css/bootstrap.css" rel="stylesheet">

	<link href="../static/common-css/ionicons.css" rel="stylesheet">

	<link href="../static/common-css/layerslider.css" rel="stylesheet">

	<link href="../static/01-homepage/css/styles.css" rel="stylesheet">

	<link href="../static/01-homepage/css/responsive.css" rel="stylesheet">

</head>
<body>

	<header>
		<div class="middle-menu center-text"><a href="#" class="logo"><img src="../static/images/logo-nanyangfengsu.png" alt="Logo Image"></a></div>

		<div class="bottom-area">

			<div class="menu-nav-icon" data-nav-menu="#main-menu"><i class="ion-navicon"></i></div>


			<ul class="main-menu visible-on-click" id="main-menu">
				<li><a href="01-homepage.html">首頁</a></li>
				<li class="drop-down"><a href="#!">專題<i class="ion-ios-arrow-down"></i></a>
					<ul class="drop-down-menu">
						<li><a href="02-zhuanti-shuanglin.html">雙林寺詩詞</a></li>
						<li><a href="02-zhuanti-xinzhouyayuan.html">新洲雅苑懷舊集</a></li>
						<li><a href="02-zhuanti-dzwxjhanshizu.html">新加坡大專文學獎--漢詩組得獎作品</a></li>
						<li><a href="02-zhuanti-nusstudent.html">國立大學學生作品</a></li>
						<li><a href="02-zhuanti-chunlian.html">春聯比賽得獎作品</a></li>
						<li><a href="02-zhuanti-sgyinglian.html">新加坡楹聯</a></li>
					</ul>
				</li>
				<li><a href="03-mingshengguji.html">名勝古跡</a></li>
				<li><a href="04-nanyangfengsu.html">南洋風俗</a></li>
				<!--<li class="drop-down"><a href="#!"><i class="ion-ios-arrow-down">南洋風俗</i></a>-->
				<!--<ul class="drop-down-menu">-->
				<!--<li><a href="#">氣候</a></li>-->
				<!--<li><a href="#">飲食</a></li>-->
				<!--<li><a href="#">衣著</a></li>-->
				<!--</ul>-->
				<!--</li>-->
				<li><a href="05-difangyuyan.html">地方語言</a></li>
				<li><a href="06-nanyangwuchan.html">南洋物產</a></li>
				<li><a href="07-xinzhoufengyue.html">星洲風月</a></li>
				<li><a href="08-foyuchanxin.html">佛語禪心</a></li>
				<li><a href="09-lunxianshiqi.html">淪陷時期</a></li>
				<li class="drop-down"><a href="#!">詩社<i class="ion-ios-arrow-down"></i></a>
					<ul class="drop-down-menu">
						<li><a href="10-tanshe.html">檀社</a></li>
						<li><a href="10-xinshengshishe.html">新聲詩社</a></li>
						<li><a href="10-shichengyinshe.html">獅城吟社</a></li>
						<li><a href="10-quanqiuhanshizonghui.html">全球漢詩總會</a></li>
					</ul>
				</li>
				<li class="drop-down"><a href="#!">更多<i class="ion-ios-arrow-down"></i></a>
					<ul class="drop-down-menu">
						<!--<li><a href="11-shitanjinkuang.html">詩壇近況</a></li>-->
						<li><a href="11-shirenfangtan.html">詩人訪談</a></li>
						<li><a href="11-shirenyinchang.html">詩人吟唱</a></li>
						<li><a href="11-shiji.html">詩集</a></li>
						<li><a href="11-shirenshengping.html">詩人生平</a></li>
						<li><a href="11-yanjiulunwen.html">研究論文</a></li>
						<li><a href="11-about-us.html">關於我們</a></li>
					</ul>

				</li>
			</ul><!-- main-menu -->


		</div><!-- conatiner -->
	</header>


	<div class="main-slider">
		<div id="slider">

			<div class="ls-slide" data-ls="bgsize:cover; bgposition:50% 50%; duration:4000; transition2d:104; kenburnsscale:1.00;">
				<!--<img src="images/slider-1-1600x800.jpg" class="ls-bg" alt="" />-->
				<img src="../static/images/slider-yusheng.jpeg" class="ls-bg" alt="" />

					<div class="slider-content ls-l" style="top:60%; left:30%;" data-ls="offsetyin:100%; offsetxout:-50%; durationin:800; delayin:100; durationout:400; parallaxlevel:0;">
						<a class="btn" href="#">南洋文化傳統</a>
						<h3 class="title"><b>撈魚生</b></h3>
						<h6>2019</h6>
					</div>

			</div><!-- ls-slide -->

			<div class="ls-slide" data-ls="bgsize:cover; bgposition:50% 50%; duration:4000; transition2d:104; kenburnsscale:1.00;">
				<!--<img src="images/slider-2-1600x800.jpg" class="ls-bg" alt="" />-->
				<img src="../static/images/slider-durian.jpg" class="ls-bg" alt="" />

					<div class="slider-content ls-l" style="top:60%; left:30%;" data-ls="offsetyin:100%; offsetxout:-50%; durationin:800; delayin:100; durationout:400; parallaxlevel:0;">
						<a class="btn" href="#">南洋水果文化</a>
						<h3 class="title"><b>榴蓮</b></h3>
					</div>

			</div><!-- ls-slide -->
		</div><!-- slider -->
	</div><!-- main-slider -->


	<section class="section blog-area">
		<div class="container">
			<div class="row">
				<div class="col-sm-0 col-md-1 col-lg-2"></div>

				<div class="col-sm-12 col-md-10 col-lg-8">
					<div class="about-author center-text">
						<br/>
						<br/>

						<h4 class="author-name"><b class="light-color">
							苦熱 （1964）</b></h4>
						<h6 class="author-name"><b class="light-color">
							黃火若</b></h6>

						<br/>
						<p>大地如焚天似醉，逢人盡道熱難看。</p>
						<p>何當乞取連延雨，好逐炎魔入碧潭。</p>

						<br/>
						<p>黃火若《今是堂剩稿》</p>

					</div>
					<br />
					<br />
					<div class="about-author center-text">
						<br/>
						<br/>

						<h4 class="author-name"><b class="light-color">
							大粒人 （1972）</b></h4>
						<h6 class="author-name"><b class="light-color">
							黃火若</b></h6>

						<br/>
						<p>漏稅偷關眞拿手，吸膏舐髓賽凶神。</p>
						<p>有錢有勢人爭捧，到處都稱大粒人。</p>

						<br/>
						<p>黃火若《今是堂剩稿》</p>

					</div>
					<br />
					<br />
					<div class="about-author center-text">
						<br/>
						<br/>

						<h4 class="author-name"><b class="light-color">
							椰賦 （1954）</b></h4>
						<h6 class="author-name"><b class="light-color">
							劉思</b></h6>

						<br/>
						<p>門口一椰，相守日久，未免有情，秉筆賦此。</p>
						<br/>
						<p>其一</p>
						<br/>
						<p>何人筆倒提，乘興恣揮灑。</p>
						<p>煙雨圖將成，化龍看叱咤。</p>
						<br/>

						<p>其二</p>
						<br/>
						<p>天外誰曾賞，不群只自尊。</p>
						<p>可能憑直節，風裡支乾坤。</p>
						<br/>
						<p>劉思《劉思詩詞集》</p>

					</div>
					<br />
					<br />
					<div class="about-author center-text">
						<br/>
						<br/>

						<h4 class="author-name"><b class="light-color">
							衛塞節記釋尊四首</b></h4>
						<h6 class="author-name"><b class="light-color">
							張仙如</b></h6>

						<br/>
						<p>其一</p>
						<br/>
						<p>迦毗羅衛梵王城，佛在藍尼園降生。</p>
						<p>二九出家懷濟世，時年三五道圓成。</p>
						<br/>

						<p>其二</p>
						<br/>
						<p>菩提迦夜悟前因，鹿野苑中轉法輪。</p>
						<p>初度五僧成正果，佛光朗朗照寰塵。</p>
						<br/>

						<p>其三</p>
						<br/>
						<p>四十五年常說法，涅盤八十證禪天。</p>
						<p>衆生有願皆成道，普濟三千及大千。</p>
						<br/>

						<p>其四</p>
						<br/>
						<p>誕生成道涅盤期，恰在淸和十五時。</p>
						<p>佳節萬方同慶祝，如來常作度人師。</p>
						<br/>


						<br/>
						<p>張仙如《如玉樓詩存》</p>

					</div>
					<br />
					<br />
					<div class="about-author center-text">
						<br/>
						<br/>

						<h4 class="author-name"><b class="light-color">
							炎荒</b></h4>
						<h6 class="author-name"><b class="light-color">
							王叔岷</b></h6>

						<br/>
						<p>炎荒無冬夏，草木常靑靑。</p>
						<p>既無後凋節，松柏若爲稱。</p>
						<p>賢者自隱蔽，雖有而不形。</p>
						<p>奸人弄巧智，厚顏以誇矜。</p>
						<p>鳳鳥將何集，鴟梟踞門庭。</p>
						<p>騫翮風雲裏，超然遠膻腥。</p>
						
						<br/>


						<br/>
						<p>王叔岷《四餘齋詩草》</p>
						<br/>
						<p>注：《抱朴子內篇·祛惑》云：賢者自隱蔽，有而若無；奸人愈自衒，沽虛而若實，非至明者，何以分之？</p>
						<br/>
					</div>
					<br />
					<br />
					<div class="about-author center-text">
						<br/>
						<br/>

						<h4 class="author-name"><b class="light-color">
							紅頭巾(1995)</b></h4>
						<h6 class="author-name"><b class="light-color">
							梁榮基</b></h6>

						<br/>
						<p>重洋遠渡別鄉親，風雨飄零落難人。</p>
						<p>無怨無尤勤作息，滄桑歷盡歲寒身。</p>
						<p>片牆片瓦皆含淚，半餓半饑何苦辛。</p>
						<p>凄苦無依驚歲晚，蒼蒼白髮一紅巾。</p>
						
						<br/>


						<br/>
						<p>梁榮基《又山詩詞》</p>
						<br/>
						<p>紅頭巾婦女爲我國早期勞工，來自廣東三水，彼等多當建築工人，節儉勤勞，對我國建築業作出巨大貢獻。由彼等胼手胝足所建之樓宇，有者尚被保留。彼等多聚居於牛車水一帶，皆未婚而孤獨無依。八十年代後，已退出勞工行列。世事滄桑，而今已垂垂老矣，頗足堪憐。</p>
						<br/>
						<p>按：該詩蒙沈炳光教授配成曲，並於一九九六年四月三日華族文化節在維多利亞音樂廳演出。</p>
						<br/>
					</div>
					<br />
					<br />
					<br />
					<br />

				</div><!-- col-sm-12 -->
			</div><!-- row -->
		</div><!-- container -->
	</section><!-- section -->


	<footer>
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<div class="footer-section">
						<p class="copyright text-center">
							NUS Faculty of Arts and Social Science - Chinese Studies &copy; 2019 All rights reserved.
						</p>
					</div><!-- footer-section -->
				</div><!-- col-lg-4 col-md-6 -->
			</div><!-- row -->
		</div><!-- container -->
	</footer>


	<!-- SCIPTS -->

	<script src="../static/common-js/jquery-3.1.1.min.js"></script>

	<script src="../static/common-js/tether.min.js"></script>

	<script src="../static/common-js/bootstrap.js"></script>

	<script src="../static/common-js/layerslider.js"></script>

	<script src="../static/common-js/scripts.js"></script>

</body>
</html>
