<!DOCTYPE HTML>
<html lang="en">
<head>
	<title>新加坡舊體詩庫-南洋物產</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8">


	<!-- Font -->

	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">


	<!-- Stylesheets -->

	<link href="../static/common-css/bootstrap.css" rel="stylesheet">

	<link href="../static/common-css/ionicons.css" rel="stylesheet">

	<link href="../static/common-css/layerslider.css" rel="stylesheet">

	<link href="../static/01-homepage/css/styles.css" rel="stylesheet">

	<link href="../static/01-homepage/css/responsive.css" rel="stylesheet">

</head>
<body>

	<header>
		<div class="middle-menu center-text"><a href="#" class="logo"><img src="../static/images/logo-nanyangwuchan.png" alt="Logo Image"></a></div>

		<div class="bottom-area">

			<div class="menu-nav-icon" data-nav-menu="#main-menu"><i class="ion-navicon"></i></div>


			<ul class="main-menu visible-on-click" id="main-menu">
				<li><a href="01-homepage.html">首頁</a></li>
				<li class="drop-down"><a href="#!">專題<i class="ion-ios-arrow-down"></i></a>
					<ul class="drop-down-menu">
						<li><a href="02-zhuanti-shuanglin.html">雙林寺詩詞</a></li>
						<li><a href="02-zhuanti-xinzhouyayuan.html">新洲雅苑懷舊集</a></li>
						<li><a href="02-zhuanti-dzwxjhanshizu.html">新加坡大專文學獎--漢詩組得獎作品</a></li>
						<li><a href="02-zhuanti-nusstudent.html">國立大學學生作品</a></li>
						<li><a href="02-zhuanti-chunlian.html">春聯比賽得獎作品</a></li>
						<li><a href="02-zhuanti-sgyinglian.html">新加坡楹聯</a></li>
					</ul>
				</li>
				<li><a href="03-mingshengguji.html">名勝古跡</a></li>
				<li><a href="04-nanyangfengsu.html">南洋風俗</a></li>
				<!--<li class="drop-down"><a href="#!"><i class="ion-ios-arrow-down">南洋風俗</i></a>-->
				<!--<ul class="drop-down-menu">-->
				<!--<li><a href="#">氣候</a></li>-->
				<!--<li><a href="#">飲食</a></li>-->
				<!--<li><a href="#">衣著</a></li>-->
				<!--</ul>-->
				<!--</li>-->
				<li><a href="05-difangyuyan.html">地方語言</a></li>
				<li><a href="06-nanyangwuchan.html">南洋物產</a></li>
				<li><a href="07-xinzhoufengyue.html">星洲風月</a></li>
				<li><a href="08-foyuchanxin.html">佛語禪心</a></li>
				<li><a href="09-lunxianshiqi.html">淪陷時期</a></li>
				<li class="drop-down"><a href="#!">詩社<i class="ion-ios-arrow-down"></i></a>
					<ul class="drop-down-menu">
						<li><a href="10-tanshe.html">檀社</a></li>
						<li><a href="10-xinshengshishe.html">新聲詩社</a></li>
						<li><a href="10-shichengyinshe.html">獅城吟社</a></li>
						<li><a href="10-quanqiuhanshizonghui.html">全球漢詩總會</a></li>
					</ul>
				</li>
				<li class="drop-down"><a href="#!">更多<i class="ion-ios-arrow-down"></i></a>
					<ul class="drop-down-menu">
						<!--<li><a href="11-shitanjinkuang.html">詩壇近況</a></li>-->
						<li><a href="11-shirenfangtan.html">詩人訪談</a></li>
						<li><a href="11-shirenyinchang.html">詩人吟唱</a></li>
						<li><a href="11-shiji.html">詩集</a></li>
						<li><a href="11-shirenshengping.html">詩人生平</a></li>
						<li><a href="11-yanjiulunwen.html">研究論文</a></li>
						<li><a href="11-about-us.html">關於我們</a></li>
					</ul>

				</li>
			</ul><!-- main-menu -->

		</div><!-- conatiner -->
	</header>


	<div class="main-slider">
		<div id="slider">

			<div class="ls-slide" data-ls="bgsize:cover; bgposition:50% 50%; duration:4000; transition2d:104; kenburnsscale:1.00;">
				<!--<img src="images/slider-1-1600x800.jpg" class="ls-bg" alt="" />-->
				<img src="../static/images/slider-binlang.jpeg" class="ls-bg" alt="" />
					<!--picture from: https://zhuanlan.zhihu.com/p/67799289-->
					<div class="slider-content ls-l" style="top:60%; left:30%;" data-ls="offsetyin:100%; offsetxout:-50%; durationin:800; delayin:100; durationout:400; parallaxlevel:0;">
						<a class="btn" href="#">南洋水果</a>
						<h3 class="title"><b>檳榔</b></h3>
						<h6>2019</h6>
					</div>

			</div><!-- ls-slide -->

			<div class="ls-slide" data-ls="bgsize:cover; bgposition:50% 50%; duration:4000; transition2d:104; kenburnsscale:1.00;">
				<!--<img src="images/slider-2-1600x800.jpg" class="ls-bg" alt="" />-->
				<img src="../static/images/slider-durian.jpg" class="ls-bg" alt="" />

					<div class="slider-content ls-l" style="top:60%; left:30%;" data-ls="offsetyin:100%; offsetxout:-50%; durationin:800; delayin:100; durationout:400; parallaxlevel:0;">
						<a class="btn" href="#">南洋水果</a>
						<h3 class="title"><b>榴蓮</b></h3>
					</div>

			</div><!-- ls-slide -->
		</div><!-- slider -->
	</div><!-- main-slider -->


	<section class="section blog-area">
		<div class="container">
			<div class="row">
				<div class="col-sm-0 col-md-1 col-lg-2"></div>

				<div class="col-sm-12 col-md-10 col-lg-8">
					<div class="about-author center-text">
						<br/>
						<br/>

						<h4 class="author-name"><b class="light-color">
							烏橋見紅棉 （1962）</b></h4>
						<h6 class="author-name"><b class="light-color">
							劉思</b></h6>

						<br/>
						<p>天南萬里正春風，吹向高枝看吐紅。</p>
						<p>不覺揚眉酬一笑，此生到處遇英雄。</p>

						<br/>
						<p>劉思《劉思詩詞集》</p>
						<br/>

						<p>注：紅棉一名英雄樹。</p>
						<br/>
					</div>
					<br />
					<br />
					<div class="about-author center-text">
						<br/>
						<br/>

						<h4 class="author-name"><b class="light-color">
							胡姬詞四首 （1968）</b></h4>
						<h6 class="author-name"><b class="light-color">
							劉思</b></h6>
						<br/>

						<p>其一</p>
						<br/>
						<p>漢皇見說厭癡肥，宮女劇憐不勝衣。</p>
						<p>想得鼎湖人去後，趙家姐妹向南飛。</p>
						<br/>
						<p>其二</p>
						<br/>
						<p>名花相對想年華，無限風光看占先。</p>
						<p>如此江山眞欲活，一枝雨後出秋千。</p>
						<br/>
						<p>其三</p>
						<br/>
						<p>春在天南別樣長，晴絲纏日遲西廂。</p>
						<p>滿枝蝴蝶不飛去，料是佳人夢正香。</p>
						<br/>
						<p>其四</p>
						<br/>
						<p>喜遇良辰酬一杯，枝頭忽見嫦娥來。</p>
						<p>可憐絕色傾天下，未嫁東風卻費猜。</p>
						<br/>

						<br/>
						<p>劉思《劉思詩詞集》</p>
						<br/>
					</div>
					<br />
					<br />
					<div class="about-author center-text">
						<br/>
						<br/>

						<h4 class="author-name"><b class="light-color">
							榴槤（以黃遵憲“絕好留連地，留連味細嘗”之“連”、“嘗”分咏二律）</b></h4>
						<h6 class="author-name"><b class="light-color">
							周淸渠</b></h6>

						<br/>
						<p>一</p>
						<br/>

						<p>炎荒佳果數留連，別有奇馨味特鮮。</p>
						<p>皮相那能知底蘊；鋒鋩縱露更垂涎。</p>
						<p>瓜分豆剖炎無妄；食髓啖脂禍孰牽。</p>
						<p>自古匹夫懷璧罪，不期易地也皆然。</p>
						<br/>
						<br/>

						<p>二</p>
						<br/>

						<p>初聞奇臭轉奇想，如此稀奇事不常。</p>
						<p>未是搖身能善變；祇緣賦性具專長。</p>
						<p>薰蕕遐邇因人異；甘苦淺深須自嘗。</p>
						<p>呼寇稱王嗟莫定，總關世態有炎涼。</p>

						<br/>
						<p>周淸渠《聽雨齋詩詞吟草》</p>
						<br/>

					</div>
					<br />
					<br />
					<div class="about-author center-text">
						<br/>
						<br/>

						<h4 class="author-name"><b class="light-color">
							榴槤二首</b></h4>
						<h6 class="author-name"><b class="light-color">
							周淸渠</b></h6>

						<br/>
						<p>一</p>
						<br/>

						<p>披堅執銳枉徒然，豆剖瓜分倍可憐，</p>
						<p>奚似五中蘊敗絮，不教染指與唾涎。</p>
						<br/>
						<br/>

						<p>二</p>
						<br/>

						<p>數將佳果到榴槤，別有奇香惹唾涎，</p>
						<p>最是不堪忙裏剝，野玫有刺遜伊尖。</p>

						<br/>
						<p>周淸渠《聽雨齋詩詞吟草》</p>
						<br/>

					</div>
					<br />
					<br />
					<div class="about-author center-text">
						<br/>
						<br/>

						<h4 class="author-name"><b class="light-color">
							山竹</b></h4>
						<h6 class="author-name"><b class="light-color">
							周淸渠</b></h6>

						<br/>

						<p>果中山竺堪稱后，恰似紫衣裹玉肌。</p>
						<p>顆顆啖來津液潤，榴香時節繫人思。</p>
						<br/>
						<p>周淸渠《聽雨齋詩詞吟草》</p>
						<br/>

					</div>
					<br />
					<br />
					<div class="about-author center-text">
						<br/>
						<br/>

						<h4 class="author-name"><b class="light-color">
							人參果</b></h4>
						<h6 class="author-name"><b class="light-color">
							周淸渠</b></h6>

						<br/>

						<p>果號人參貴可知，枝頭纍纍碧參差。</p>
						<p>摘來玉盌堪供奉，豈獨尋常快朶頤。</p>
						<br/>
						<p>周淸渠《聽雨齋詩詞吟草》</p>
						<br/>

					</div>
					<br />
					<br />
					<div class="about-author center-text">
						<br/>
						<br/>

						<h4 class="author-name"><b class="light-color">
							紅毛丹</b></h4>
						<h6 class="author-name"><b class="light-color">
							周淸渠</b></h6>

						<br/>

						<p>似曾相識嶺南荔，底事毶毶毛髮萋。</p>
						<p>應是蒙塵踰海嶠，羞將面目露群黎。</p>
						<br/>
						<p>周淸渠《聽雨齋詩詞吟草》</p>
						<br/>

					</div>

					<br />
					<br />
					<div class="about-author center-text">
						<br/>
						<br/>

						<h4 class="author-name"><b class="light-color">
							椰樹</b></h4>
						<h6 class="author-name"><b class="light-color">
							周淸渠</b></h6>

						<br/>

						<p>衝霄直欲與天齊，屹立炎荒入望迷。</p>
						<p>最是榦端懸玉液，療肌療渴各相宜。</p>
						<br/>
						<p>周淸渠《聽雨齋詩詞吟草》</p>
						<br/>

					</div>
					<br />
					<br />

					<div class="about-author center-text">
						<br/>
						<br/>

						<h4 class="author-name"><b class="light-color">
							梹榔</b></h4>
						<h6 class="author-name"><b class="light-color">
							周淸渠</b></h6>

						<br/>

						<p>名歌曾聽採檳榔，響入行雲韻轉揚。</p>
						<p>百尺凌霄風骨健，婆娑不爲折腰忙。</p>
						<br/>
						<p>周淸渠《聽雨齋詩詞吟草》</p>
						<br/>

					</div>

					<br />
					<br />

					<div class="about-author center-text">
						<br/>
						<br/>

						<h4 class="author-name"><b class="light-color">
							棕油樹</b></h4>
						<h6 class="author-name"><b class="light-color">
							周淸渠</b></h6>

						<br/>

						<p>非關佳木也繁陰，散見山隈與水潯。</p>
						<p>荊棘叢中度寂寞，連城價重說於今。</p>
						<br/>
						<p>周淸渠《聽雨齋詩詞吟草》</p>
						<br/>

					</div>

					<br />
					<br />

					<div class="about-author center-text">
						<br/>
						<br/>

						<h4 class="author-name"><b class="light-color">
							題紅毛丹圖</b></h4>
						<h6 class="author-name"><b class="light-color">
							張明慈</b></h6>

						<br/>

						<p>幾回訪我說詩壇，話到亂離心更酸，</p>
						<p>讀遍千年繪畫史，何人曾寫紅毛丹？</p>
						<br/>
						<p>張明慈《南遊吟草》</p>
						<br/>

					</div>


					<br />
					<br />

					<div class="about-author center-text">
						<br/>
						<br/>

						<h4 class="author-name"><b class="light-color">
							榴槤（用鏡波兄韻）</b></h4>
						<h6 class="author-name"><b class="light-color">
							張明慈</b></h6>

						<br/>

						<p>屈指南中數果王，廿年故友齒芬芳，</p>
						<p>玲瓏八面倩誰比？峻屹一方有子長，</p>
						<p>羨爾大癡入畫圖，笑伊娘惹典紗郎，</p>
						<p>留連異國漫思蜀，百首吟成珍重藏！</p>
						<br/>
						<p>張明慈《南遊吟草》</p>
						<br/>

					</div>

				</div><!-- col-sm-12 -->
			</div><!-- row -->
		</div><!-- container -->
	</section><!-- section -->


	<footer>
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<div class="footer-section">
						<p class="copyright text-center">
							NUS Faculty of Arts and Social Science - Chinese Studies &copy; 2019 All rights reserved.
						</p>
					</div><!-- footer-section -->
				</div><!-- col-lg-4 col-md-6 -->
			</div><!-- row -->
		</div><!-- container -->
	</footer>


	<!-- SCIPTS -->

	<script src="../static/common-js/jquery-3.1.1.min.js"></script>

	<script src="../static/common-js/tether.min.js"></script>

	<script src="../static/common-js/bootstrap.js"></script>

	<script src="../static/common-js/layerslider.js"></script>

	<script src="../static/common-js/scripts.js"></script>

</body>
</html>
