<!DOCTYPE HTML>
<html lang="en">
<head>
	{% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>新加坡舊體詩庫</title>
    {% endif %}
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8">

	<!-- Font -->
	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">

	<!-- Stylesheets -->
	<link href="../static/common-css/bootstrap.css" rel="stylesheet">
	<link href="../static/common-css/ionicons.css" rel="stylesheet">
    <link href="../static/01-homepage/css/styles.css" rel="stylesheet">
	<link href="../static/01-homepage/css/responsive.css" rel="stylesheet">
</head>

<body>
    <header>
		<div class="middle-menu center-text"><a href="#" class="logo"><img src={{ logo_path }} alt="Logo Image"></a></div>

		<div class="bottom-area">

			<div class="menu-nav-icon" data-nav-menu="#main-menu"><i class="ion-navicon"></i></div>

			<ul class="main-menu visible-on-click" id="main-menu">
				<li><a href="{{ url_for('home') }}">首頁</a></li>
				<li class="drop-down"><a href="#!">專題<i class="ion-ios-arrow-down"></i></a>
					<ul class="drop-down-menu">
						<li><a href="{{ url_for('topic', name='zhuanti-shuanglin') }}">雙林寺詩詞</a></li>
						<li><a href="{{ url_for('topic', name='zhuanti-xinzhouyayuan') }}">新洲雅苑懷舊集</a></li>
						<li><a href="{{ url_for('topic', name='zhuanti-dazhuan') }}">新加坡大專文學獎--漢詩組得獎作品</a></li>
						<li><a href="{{ url_for('topic', name='zhuanti-nus') }}">國立大學學生作品</a></li>
                        <li><a href="{{ url_for('topic', name='zhuanti-nanyangdaxue') }}">南洋大學師生作品</a></li>
						<li><a href="{{ url_for('topic', name='zhuanti-chunlian') }}">春聯比賽得獎作品</a></li>
						<li><a href="{{ url_for('topic', name='zhuanti-sgyinglian') }}">新加坡楹聯</a></li>
					</ul>
				</li>
				<li><a href="{{ url_for('topic', name='mingshengguji') }}">名勝古跡</a></li>
				<li><a href="{{ url_for('topic', name='nanyangfengtu') }}">南洋風土</a></li>
				<li><a href="{{ url_for('topic', name='xingzhoufengyue') }}">星洲風月</a></li>
				<li><a href="{{ url_for('topic', name='foyuchanxin') }}">佛語禪心</a></li>
				<li><a href="{{ url_for('topic', name='lunxianshiqi') }}">淪陷時期</a></li>
				<li><a href="{{ url_for('topic', name='lishishijian') }}">歷史事件</a></li>
				<li><a href="{{ url_for('topic', name='wenyihuodong') }}">文藝活動</a></li>
				<li class="drop-down"><a href="#!">詩社<i class="ion-ios-arrow-down"></i></a>
					<ul class="drop-down-menu">
						<li><a href="{{ url_for('topic', name='tanshe') }}">檀社</a></li>
						<li><a href="{{ url_for('topic', name='xinshengshishe') }}">新聲詩社</a></li>
						<li><a href="{{ url_for('topic', name='shichengyinshe') }}">獅城吟社</a></li>
						<li><a href="{{ url_for('topic', name='quanqiuhanshizonghui') }}">全球漢詩總會</a></li>
					</ul>
				</li>
				<li><a href="{{ url_for('about_us') }}">關於我們</a></li>
				<!--<li class="drop-down"><a href="#!">更多<i class="ion-ios-arrow-down"></i></a>-->
					<!--<ul class="drop-down-menu">-->
						<!--<li><a href="{{ url_for('shitanjinkuang') }}">詩壇近況</a></li>-->
						<!--<li><a href="{{ url_for('shirenfangtan') }}">詩人訪談</a></li>-->
						<!--&lt;!&ndash;<li><a href="11-shirenyinchang.html">詩人吟唱</a></li>&ndash;&gt;-->
						<!--<li><a href="{{ url_for('shiji') }}">詩集</a></li>-->
						<!--&lt;!&ndash;<li><a href="11-shirenshengping.html">詩人生平</a></li>&ndash;&gt;-->
						<!--<li><a href="{{ url_for('paper') }}">研究論文</a></li>-->
						<!--<li><a href="{{ url_for('about_us') }}">關於我們</a></li>-->
					<!--</ul>-->
				<!--</li>-->
			</ul><!-- main-menu -->
		</div><!-- conatiner -->
	</header>
    {% block content %}{% endblock %}
	<footer>
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<div class="footer-section">
						<p class="copyright text-center">
							新加坡舊體詩庫 - 由新加坡華族文化中心贊助 - Singapore Chinese Culture Centre - ❤ &copy; 2019 All rights reserved.
						</p>
					</div><!-- footer-section -->
				</div><!-- col-lg-4 col-md-6 -->
			</div><!-- row -->
		</div><!-- container -->
	</footer>


	<!-- SCRIPTS -->

	<script src="../static/common-js/jquery-3.1.1.min.js"></script>

	<script src="../static/common-js/tether.min.js"></script>

	<script src="../static/common-js/bootstrap.js"></script>

	<script src="../static/common-js/jquery.countdown.min.js"></script>

	<script src="../static/common-js/scripts.js?version=20191219"></script>


</body>
</html>
