<!DOCTYPE HTML>
<html lang="en">
<head>
	{% if title %}
    <title>{{title}}</title>
    {% else %}
    <title>新加坡舊體詩庫</title>
    {% endif %}
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8">


	<!-- Font -->

	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">


	<!-- Stylesheets -->

	<link href="/static/common-css/bootstrap.css" rel="stylesheet">

	<link href="/static/common-css/ionicons.css" rel="stylesheet">

	<link href="/static/common-css/layerslider.css" rel="stylesheet">

	<link href="/static/01-homepage/css/styles.css" rel="stylesheet">

	<link href="/static/01-homepage/css/responsive.css" rel="stylesheet">

</head>
<body>

	<header>
		<div class="middle-menu center-text"><a href="#" class="logo"><img src={{ logo_path }} alt="Logo Image"></a></div>

		<div class="bottom-area">

			<div class="menu-nav-icon" data-nav-menu="#main-menu"><i class="ion-navicon"></i></div>

			<ul class="main-menu visible-on-click" id="main-menu">
				<li><a href="{{ url_for('home') }}">首頁</a></li>
				<li class="drop-down"><a href="#!">專題<i class="ion-ios-arrow-down"></i></a>
					<ul class="drop-down-menu">
						<li><a href="{{ url_for('topic', name='zhuanti-shuanglin') }}">雙林寺詩詞</a></li>
						<li><a href="{{ url_for('topic', name='zhuanti-xinzhouyayuan') }}">新洲雅苑懷舊集</a></li>
						<li><a href="{{ url_for('topic', name='zhuanti-dazhuan') }}">新加坡大專文學獎--漢詩組得獎作品</a></li>
						<li><a href="{{ url_for('topic', name='zhuanti-nus') }}">國立大學學生作品</a></li>
                        <li><a href="{{ url_for('topic', name='zhuanti-nanyangdaxue') }}">南洋大學師生作品</a></li>
						<li><a href="{{ url_for('topic', name='zhuanti-chunlian') }}">春聯比賽得獎作品</a></li>
						<li><a href="{{ url_for('topic', name='zhuanti-sgyinglian') }}">新加坡楹聯</a></li>
					</ul>
				</li>
				<li><a href="{{ url_for('topic', name='mingshengguji') }}">名勝古跡</a></li>
				<li><a href="{{ url_for('topic', name='nanyangfengtu') }}">南洋風土</a></li>
				<li><a href="{{ url_for('topic', name='xingzhoufengyue') }}">星洲風月</a></li>
				<li><a href="{{ url_for('topic', name='foyuchanxin') }}">佛語禪心</a></li>
				<li><a href="{{ url_for('topic', name='lunxianshiqi') }}">淪陷時期</a></li>
				<li><a href="{{ url_for('topic', name='lishishijian') }}">歷史事件</a></li>
				<li><a href="{{ url_for('topic', name='wenyihuodong') }}">文藝活動</a></li>
				<li class="drop-down"><a href="#!">詩社<i class="ion-ios-arrow-down"></i></a>
					<ul class="drop-down-menu">
						<li><a href="{{ url_for('topic', name='tanshe') }}">檀社</a></li>
						<li><a href="{{ url_for('topic', name='xinshengshishe') }}">新聲詩社</a></li>
						<li><a href="{{ url_for('topic', name='shichengyinshe') }}">獅城吟社</a></li>
						<li><a href="{{ url_for('topic', name='quanqiuhanshizonghui') }}">全球漢詩總會</a></li>
					</ul>
				</li>
				<li><a href="{{ url_for('about_us') }}">關於我們</a></li>
				<!--<li class="drop-down"><a href="#!">更多<i class="ion-ios-arrow-down"></i></a>-->
					<!--<ul class="drop-down-menu">-->
						<!--<li><a href="{{ url_for('shitanjinkuang') }}">詩壇近況</a></li>-->
						<!--<li><a href="{{ url_for('shirenfangtan') }}">詩人訪談</a></li>-->
						<!--&lt;!&ndash;<li><a href="11-shirenyinchang.html">詩人吟唱</a></li>&ndash;&gt;-->
						<!--<li><a href="{{ url_for('shiji') }}">詩集</a></li>-->
						<!--&lt;!&ndash;<li><a href="11-shirenshengping.html">詩人生平</a></li>&ndash;&gt;-->
						<!--<li><a href="{{ url_for('paper') }}">研究論文</a></li>-->
						<!--<li><a href="{{ url_for('about_us') }}">關於我們</a></li>-->
					<!--</ul>-->
				<!--</li>-->
			</ul><!-- main-menu -->
		</div><!-- conatiner -->
	</header>

	{% if sliders %}
    {% if sliders|length > 1 %}
	<div class="main-slider">
		<div id="slider">
            {% for slider in sliders %}
                {% if slider.path %}
                    <div class="ls-slide" data-ls="bgsize:cover; bgposition:50% 50%; duration:4000; transition2d:104; kenburnsscale:1.00;">
                        <!--<img src="images/slider-1-1600x800.jpg" class="ls-bg" alt="" />-->
                        <img src={{ slider.path }} class="ls-bg" alt="" />
                            <div class="slider-content ls-l" style="top:60%; left:30%;" data-ls="offsetyin:100%; offsetxout:-50%; durationin:800; delayin:100; durationout:400; parallaxlevel:0;">
                                {% if slider.comments[0] %}
									{% if slider.link %}
                                    	<a class="btn" href={{ slider.link }} target="_blank">{{ slider.comments[0] }}</a>
									{% else %}
										<a class="btn" href="#" target="_blank">{{ slider.comments[0] }}</a>
									{% endif %}
                                {% endif %}
                                {% if slider.comments[1] %}
                                    <h3 class="title"><b>{{ slider.comments[1] }}</b></h3>
                                {% endif %}
                                {% if slider.comments[2] %}
                                    <h6>{{ slider.comments[2] }}</h6>
                                {% endif %}
                            </div>

                    </div><!-- ls-slide -->
                {% endif %}
            {% endfor %}
		</div><!-- slider -->
	</div><!-- main-slider -->
    {% else %}
    <div class="container">
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <img src={{ sliders[0].path }} class="ls-bg" alt="" />
    </div>
    {% endif %}
    {% else %}
	<div class="container">
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
    </div>
	{% endif %}


	{% block content %}{% endblock %}


	<footer>
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<div class="footer-section">
						<p class="copyright text-center">
							新加坡舊體詩庫 - 由新加坡華族文化中心贊助 - Singapore Chinese Culture Centre - ❤ &copy; 2019 All rights reserved.
						</p>
					</div><!-- footer-section -->
				</div><!-- col-lg-4 col-md-6 -->
			</div><!-- row -->
		</div><!-- container -->
	</footer>


	<!-- SCIPTS -->

	<script src="../static/common-js/jquery-3.1.1.min.js"></script>

	<script src="../static/common-js/tether.min.js"></script>

	<script src="../static/common-js/bootstrap.js"></script>

	<script src="../static/common-js/layerslider.js"></script>

	<script src="../static/common-js/embed.videos.min.js"></script>

	<script src="../static/common-js/scripts.js?version=20191219"></script>

</body>
</html>
