{% extends "base_slider.html" %}
{% block content %}
    <section class="blog-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-2 col-md-12"></div>
                <div class="col-lg-8 col-md-12">
                    <div class="blog-posts">
                        <div class="single-post">

                            <br />
                            <br />
                            <h3 class="title">
                                <a href="#"><b class="light-color">
                                    {% if paper_title %}
                                        {{ paper_title }}
                                    {% endif %}
                            </b></a></h3>
                            <br />

                            <p>
                                {% if author_name %}
                                    {{ author_name }}
                                {% endif %}

                            </p>

                            <br />
                            <br />
                            <br />

                            <iframe src="{{ pdf_location }}" width="100%" height="800px">
                                This browser does not support PDFs. Please download the PDF to view it:
                                <a href="{{ pdf_location }}">Download PDF</a>
                            </iframe>



                            <br />
                            <br />
                            <br />
                            <ul class="tags center-text">
                                <li><a class="btn" href="javascript:history.go(-1)">返回目錄</a></li>
                            </ul>
                            <br/>
                            <br/>
                            <br/>
                            <br/>
                        </div><!-- single-post -->

                    </div><!-- blog-posts -->
                </div><!-- col-lg-4 -->
                <br/>
                <br/>
                <br/>
            </div><!-- row -->
        </div><!-- container -->
{% endblock %}
