{% extends "base.html" %}
{% block content %}
<section class="section blog-area">
		<div class="container">
			<br/>
			<br/>
			<br/>
			<br/>
			<br/>
			<br/>
			<br/>
			<br/>
			<br/>
			<br/>
			<div class="row">
				<div class="col-sm-0 col-md-1 col-lg-2"></div>

				<div class="col-sm-12 col-md-10 col-lg-8">
					<div class="about-author center-text">
						<br/>
						<br/>

						<h4 class="author-name"><b class="light-color">
							苦熱 （1964）</b></h4>
						<h6 class="author-name"><b class="light-color">
							黃火若</b></h6>

						<br/>
						<p>大地如焚天似醉，逢人盡道熱難看。</p>
						<p>何當乞取連延雨，好逐炎魔入碧潭。</p>

						<br/>
						<p>黃火若《今是堂剩稿》</p>
						<br/>

					</div>
					<br />
					<br />
					<br />
					<ul class="tags center-text">
						<li><a class="btn" href="javascript:history.go(-1)">返回目錄</a></li>
					</ul>
					<br />
					<br />

				</div><!-- col-sm-12 -->
			</div><!-- row -->
			<br />
			<br />
		</div><!-- container -->
	</section><!-- section -->
{% endblock %}
