{% extends "base.html" %}
{% block content %}
<section class="section blog-area">
		<div class="container">
			<br/>
			<br/>
			<br/>
			<br/>
			<br/>
			<br/>
			<br/>
			<br/>
			<br/>
			<br/>
			<div class="row">
				<div class="col-sm-0 col-md-1 col-lg-2"></div>

				<div class="col-sm-12 col-md-10 col-lg-8">
					<div class="about-author center-text">
						<br/>
						<br/>

						<h4 class="author-name">
							<b class="light-color">
								{{ main_content['title'] }}
								{% if main_content['year'] %}
									（ {{ main_content['year'] }} ）
								{% endif %}
							</b>
						</h4>
						<h6 class="author-name">
							<b class="light-color">
								{{ main_content['author_name'] }}
							</b>
						</h6>

						<br/>
						{% if main_content['introduction'] %}
							<p>{{ main_content['introduction'] }}</p>
						{% endif %}

						<p>{{ main_content['content'] }}</p>
						<!--<p>大地如焚天似醉，逢人盡道熱難看。</p>-->
						<!--<p>何當乞取連延雨，好逐炎魔入碧潭。</p>-->

						<br/>

						{% if main_content['published_info'] %}
							<p>{{ main_content['published_info'] }}</p>
						{% endif %}
						<!--<p>黃火若《今是堂剩稿》</p>-->
						<br/>

					</div>
					<br />
					<br />
					<br />
					<ul class="tags center-text">
						<li><a class="btn" href="javascript:history.go(-1)">返回目錄</a></li>
					</ul>
					<br />
					<br />

				</div><!-- col-sm-12 -->
			</div><!-- row -->
			<br />
			<br />
		</div><!-- container -->
	</section><!-- section -->
{% endblock %}
