{% extends "base.html" %}
{% block content %}
<section class="section blog-area">
		<div class="container">
			<br/>
			<br/>
			<br/>
			<br/>
			<br/>
			<br/>
			<br/>
			<br/>
			<br/>
			<br/>
			<div class="row">
				<div class="col-sm-0 col-md-1 col-lg-2"></div>

				<div class="col-sm-12 col-md-10 col-lg-8">
					<div class="about-author center-text">
						<br/>
						<br/>

						<h4 class="author-name">
							<b class="light-color">
								{{ main_content['title'] }}
								{% if main_content['year'] %}
									（ {{ main_content['year'] }} ）
								{% endif %}
							</b>
						</h4>
						<h6 class="author-name">
							<b class="light-color">
								{{ main_content['author_name'] }}
							</b>
						</h6>


						{% if introduction %}
                        <br/>
							<p>{{ introduction }}</p>
                        <br/>
						{% endif %}

                        <br/>
                        {% for poem_sentence in poem_content_list %}
                            {% if poem_sentence == '\n' %}
                                <br/>
                            {% else %}
						        <p>{{ poem_sentence }}</p>
                            {% endif %}
                        {% endfor %}

						<br/>
						<br/>

						{% if main_content['published_info'] %}
							<p>{{ main_content['published_info'] }}</p>
                            <br/>
                            <br/>
						{% endif %}
					</div>
					<br />
					<br />
					<br />
					<ul class="tags center-text">
						<li><a class="btn" href="javascript:history.go(-1)">返回目錄</a></li>
					</ul>
					<br />
					<br />

				</div><!-- col-sm-12 -->
			</div><!-- row -->
			<br />
			<br />
		</div><!-- container -->
	</section><!-- section -->
{% endblock %}
