<!DOCTYPE HTML>
<html lang="en">
<head>
	<title>新加坡舊體詩庫-詩壇近況</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8">


	<!-- Font -->

	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">


	<!-- Stylesheets -->

	<link href="../static/common-css/bootstrap.css" rel="stylesheet">

	<link href="../static/common-css/ionicons.css" rel="stylesheet">

	<link href="../static/common-css/layerslider.css" rel="stylesheet">

	<link href="../static/01-homepage/css/styles.css" rel="stylesheet">

	<link href="../static/01-homepage/css/responsive.css" rel="stylesheet">

</head>
<body>

	<header>
		<div class="middle-menu center-text"><a href="#" class="logo"><img src="../static/images/logo-shitanjinkuang.png" alt="Logo Image"></a></div>

		<div class="bottom-area">

			<div class="menu-nav-icon" data-nav-menu="#main-menu"><i class="ion-navicon"></i></div>

			<ul class="main-menu visible-on-click" id="main-menu">
				<li><a href="{{ url_for('home') }}">首頁</a></li>
				<li class="drop-down"><a href="#!">專題<i class="ion-ios-arrow-down"></i></a>
					<ul class="drop-down-menu">
						<li><a href="{{ url_for('topic', category='zhuanti-shuanglin') }}">雙林寺詩詞</a></li>
						<li><a href="{{ url_for('topic', category='zhuanti-xinzhouyayuan') }}">新洲雅苑懷舊集</a></li>
						<li><a href="{{ url_for('topic', category='zhuanti-dazhuan') }}">新加坡大專文學獎--漢詩組得獎作品</a></li>
						<li><a href="{{ url_for('topic', category='zhuanti-nus') }}">國立大學學生作品</a></li>
						<li><a href="{{ url_for('topic', category='zhuanti-chunlian') }}">春聯比賽得獎作品</a></li>
						<li><a href="{{ url_for('topic', category='zhuanti-sgyinglian') }}">新加坡楹聯</a></li>
					</ul>
				</li>
				<li><a href="{{ url_for('topic', category='mingshengguji') }}">名勝古跡</a></li>
				<li><a href="{{ url_for('topic', category='nanyangfengtu') }}">南洋風土</a></li>
				<li><a href="{{ url_for('topic', category='xingzhoufengyue') }}">星洲風月</a></li>
				<li><a href="{{ url_for('topic', category='foyuchanxin') }}">佛語禪心</a></li>
				<li><a href="{{ url_for('topic', category='lunxianshiqi') }}">淪陷時期</a></li>
				<li><a href="{{ url_for('topic', category='wenyihuodong') }}">文藝活動</a></li>
				<li class="drop-down"><a href="#!">詩社<i class="ion-ios-arrow-down"></i></a>
					<ul class="drop-down-menu">
						<li><a href="{{ url_for('shishe', name='tanshe') }}">檀社</a></li>
						<li><a href="{{ url_for('shishe', name='xinshengshishe') }}">新聲詩社</a></li>
						<li><a href="{{ url_for('shishe', name='shichengyinshe') }}">獅城吟社</a></li>
						<li><a href="{{ url_for('shishe', name='quanqiuhanshizonghui') }}">全球漢詩總會</a></li>
					</ul>
				</li>
				<li class="drop-down"><a href="#!">更多<i class="ion-ios-arrow-down"></i></a>
					<ul class="drop-down-menu">
						<li><a href="{{ url_for('shitanjinkuang') }}">詩壇近況</a></li>
						<li><a href="{{ url_for('shirenfangtan') }}">詩人訪談</a></li>
						<!--<li><a href="11-shirenyinchang.html">詩人吟唱</a></li>-->
						<li><a href="{{ url_for('shiji') }}">詩集</a></li>
						<!--<li><a href="11-shirenshengping.html">詩人生平</a></li>-->
						<li><a href="{{ url_for('paper') }}">研究論文</a></li>
						<li><a href="{{ url_for('about_us') }}">關於我們</a></li>
					</ul>
				</li>
			</ul><!-- main-menu -->
		</div><!-- conatiner -->
	</header>


	<div class="main-slider">
		<div id="slider">

			<div class="ls-slide" data-ls="bgsize:cover; bgposition:50% 50%; duration:4000; transition2d:104; kenburnsscale:1.00;">
				<!--<img src="images/slider-1-1600x800.jpg" class="ls-bg" alt="" />-->
				<img src="../static/images/slider-shiren1.jpg" class="ls-bg" alt="" />
					<div class="slider-content ls-l" style="top:60%; left:30%;" data-ls="offsetyin:100%; offsetxout:-50%; durationin:800; delayin:100; durationout:400; parallaxlevel:0;">
						<a class="btn" href="#">xxxxx</a>
						<h3 class="title"><b>事件A</b></h3>
						<h6>2019</h6>
					</div>
			</div><!-- ls-slide -->

			<div class="ls-slide" data-ls="bgsize:cover; bgposition:50% 50%; duration:4000; transition2d:104; kenburnsscale:1.00;">
				<!--<img src="images/slider-2-1600x800.jpg" class="ls-bg" alt="" />-->
				<img src="../static/images/slider-shiren2.jpg" class="ls-bg" alt="" />

					<div class="slider-content ls-l" style="top:60%; left:30%;" data-ls="offsetyin:100%; offsetxout:-50%; durationin:800; delayin:100; durationout:400; parallaxlevel:0;">
						<a class="btn" href="#">xxxx</a>
						<h3 class="title"><b>事件B</b></h3>
					</div>

			</div><!-- ls-slide -->
		</div><!-- slider -->
	</div><!-- main-slider -->


	<section class="section blog-area">
		<div class="container">
			<div class="row">
				<div class="col-sm-0 col-md-1 col-lg-2"></div>

				<div class="col-sm-12 col-md-10 col-lg-8">
					<div class="about-author center-text">
						<div class="author-image"><img src="../static/images/img-nanfengciji.jpg" alt="Autohr Image"></div>
						<br/>
						<br/>

						<h4 class="author-name"><b class="light-color">
							南洋大學與《南風詞集》 </b></h4>
						<!--<h6 class="author-name"><b class="light-color">-->
							 <!--</b></h6>-->
						<!--<p>时间</p>-->

						<br/>

						<p>南洋大學中文系也開設舊體詩詞寫作課程，並於20世紀60年代初出版了三部師生創作集。第一部是慶祝南大第一屆畢業禮的《雲南園吟唱集》，
							當時中文系廣邀新、馬著名詩人一同雅集吟詩。</p>
						<p>另外的《新加坡古堡紀遊詩》和《南風詞集》，則收錄了中文系學生的學期詩詞作業。</p>

						<br/>

						<!--<div class="signature-image"><img src="images/signature-image.png" alt="Signature Image"></div>-->
						<!--<a class="read-more-link" href="#"><b>READ MORE</b></a>-->
					</div>
					<br/>
					<br/>
					<br/>
					<br/>
					<br/>
					<br/>

					<div class="about-author center-text">
						<div class="author-image"><img src="../static/images/img-jiehui.jpg" alt="Autohr Image"></div>
						<br/>
						<br/>

						<h4 class="author-name"><b class="light-color">
							《刼灰集》 </b></h4>

						<br/>

						<p>較之《血海》，《劫灰集》的敘事成份減少，而多了個人對於這場浩劫的感懷。《蘭花
							集》則是亂世的文人唱和，它以鄭思肖（1241–1318）等南宋遺民為榜樣，透過詠蘭，
							表達了詩人們的國族意識，對光復的冀望，以及抑塞無聊、借酒澆愁的心情。</p>

						<br/>

						<!--<div class="signature-image"><img src="images/signature-image.png" alt="Signature Image"></div>-->
						<!--<a class="read-more-link" href="#"><b>READ MORE</b></a>-->
					</div>
					<br />
					<br />
					<br />
					<br />

					<br/>
					<br/>

					<div class="about-author center-text">
						<div class="author-image"><img src="../static/images/img-lanhua.jpg" alt="Autohr Image"></div>
						<br/>
						<br/>

						<h4 class="author-name"><b class="light-color">
							《蘭花集》 </b></h4>

						<br/>

						<p>蘭花集介紹</p>

						<br/>

						<!--<div class="signature-image"><img src="images/signature-image.png" alt="Signature Image"></div>-->
						<!--<a class="read-more-link" href="#"><b>READ MORE</b></a>-->
					</div>
					<br />
					<br />
					<br />
					<br />
					<br />
					<br />
					<br />

					<div class="about-author center-text">
						<div class="author-image"><img src="../static/images/img-qinmiantang.jpg" alt="Autohr Image"></div>
						<br/>
						<br/>

						<h4 class="author-name"><b class="light-color">
							《勤勉堂詩鈔書影》 </b></h4>

						<br/>

						<p>勤勉堂詩鈔書影介紹</p>

						<br/>

						<!--<div class="signature-image"><img src="images/signature-image.png" alt="Signature Image"></div>-->
						<!--<a class="read-more-link" href="#"><b>READ MORE</b></a>-->
					</div>
					<br />
					<br />
					<br />
					<br />

				</div><!-- col-sm-12 -->
			</div><!-- row -->
		</div><!-- container -->
	</section><!-- section -->


	<footer>
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<div class="footer-section">
						<p class="copyright text-center">
							新加坡舊體詩庫 - 由新加坡華族文化中心贊助 - Singapore Chinese Culture Centre - ❤ &copy; 2019 All rights reserved.
						</p>
					</div><!-- footer-section -->
				</div><!-- col-lg-4 col-md-6 -->
			</div><!-- row -->
		</div><!-- container -->
	</footer>


	<!-- SCIPTS -->

	<script src="../static/common-js/jquery-3.1.1.min.js"></script>

	<script src="../static/common-js/tether.min.js"></script>

	<script src="../static/common-js/bootstrap.js"></script>

	<script src="../static/common-js/layerslider.js"></script>

	<script src="../static/common-js/scripts.js"></script>

</body>
</html>
