{% extends "base_slider.html" %}
{% block content %}

	<section class="section blog-area">
        {% if blog_content %}
			<section class="blog-area">
                    <div class="container">
                    <div class="row">
                        <div class="col-lg-2 col-md-12"></div>
                        <div class="col-lg-8 col-md-12">
                            <div class="blog-posts">
                                <div class="single-post">

                                    {% if blog_img %}
                                        <div class="image-wrapper"><img src={{ blog_img }} alt="Blog Image"></div>
                                    {% endif %}

                                    <br />

                                    <h3 class="title">
                                        <a href="#"><b class="light-color">
                                            {% if blog_title %}
                                                {{ blog_title }}
                                            {% endif %}
                                    </b></a></h3>

                                    <p>
                                        {% if blog_content %}
                                            {{ blog_content }}
                                        {% endif %}

                                    </p>

                                    <br />

                                    {% if blog_link %}
                                        <a class="btn read-more-btn" target="_blank" href="{{ blog_link }}"><b>瀏覽更多</b></a>
                                    {% endif %}
                                </div><!-- single-post -->

                            </div><!-- blog-posts -->
                        </div><!-- col-lg-4 -->
                        <br/>
                        <br/>
                        <br/>
                    </div><!-- row -->
                </div><!-- container -->
		    </section><!-- section -->
        {% endif %}


		<div class="container">
			<div class="row">
				<div class="col-sm-0 col-md-1 col-lg-2"></div>
				<div class="col-sm-12 col-md-10 col-lg-8">
					{% if main_content.items() %}
						{% for poet_name, poet_info_dict in main_content.items() %}
							<div class="sidebar-section tags-area">
									<h4 class="title"><b class="light-color">{{ poet_name }}
                                        {% if poet_info_dict['yearOfBirth'] or poet_info_dict['yearOfDeath']  %}
                                            (
                                                {% if poet_info_dict['yearOfBirth'] %}
                                                    {{ poet_info_dict['yearOfBirth'] }}
                                                {% else %}
                                                    ?
                                                {% endif %} -
                                                {% if poet_info_dict['yearOfDeath'] %}
                                                    {{ poet_info_dict['yearOfDeath'] }}
                                                {% elif poet_info_dict['yearOfDeath'] != 0 %}
                                                    ?
                                                {% endif %}
                                            )
                                        {% endif %}
                                    </b></h4>

                                    <!--poet description-->
                                    {% if showPoetDescription and poet_info_dict['description'] %}
                                        {% if poet_info_dict['photo_link'] %}
                                            <br/>
                                        {% endif %}

                                        <div class="sidebar-section about-author">
                                            <br/>
                                            <br/>

                                            <p>
                                                &nbsp;&nbsp; &nbsp;&nbsp; &nbsp; {{ poet_info_dict['description'] }}
                                            </p>
                                            <br />

                                            {% if poet_info_dict['source'] %}
                                                <p align="right"> ——《{{ poet_info_dict['source'] }}》</p>
                                            {% endif %}

                                            {% if poet_info_dict['link'] and showReadMoreLink %}
                                                <div align="right">
                                                    <a class="read-more-link" target="_blank"
                                                       href="{{ poet_info_dict['link'] }}">
                                                        <b>了解更多</b>
                                                    </a>
                                                </div>
                                            {% endif %}

                                        </div>
                                    {% endif %}

                                    <!--Video embed-->
                                    {% if isVideo %}
                                        <div id = "{{ poet_name }}">
                                            {% for video in poet_info_dict['titles'][0] %}
                                                {% if "src" in video %}
                                                    <iframe width="100%" height="315" {{ video.split("&&")[1] }} frameborder="0"; allow="accelerometer"; autoplay = "false"; encrypted-media; gyroscope; picture-in-picture; allowfullscreen>
                                                    </iframe>
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                    
                                    <!--Tags for poems, paper and video-->
									<ul class="tags">
                                        {% if isPaper %}
                                            {% for paper_title in poet_info_dict['titles'] %}
                                                <li><a class="btn" href="{{ url_for('paper_content_page', paper_title=paper_title, author_name=poet_name ) }}">
                                                    {{ paper_title }}
                                                </a></li>
                                            {% endfor %}
                                        {% elif isVideo %}
                                            {% for video in poet_info_dict['titles'] %}
                                                <li>
                                                    <a class="btn" href="{{ video[1] }}">{{ video[0] }}</a>
                                                </li>
                                            {% endfor %}
                                        {% else %}
                                            {% for poem_name in poet_info_dict['titles'] %}
                                                <li><a class="btn" href="{{ url_for('poem_content_page', category=category, poem_name=poem_name, author_name=poet_name ) }}">
                                                    {{ poem_name }}
                                                </a></li>
                                            {% endfor %}
                                        {% endif %}
									</ul>

                                    <br/>
							</div>
						{% endfor %}
					{% else %}
                        <br/>
                        <br/>
						<p class="text-center"><b>暫無作品</b></p>
                        <br/>
                        <br/>
                        <br/>
                        <br/>
					{% endif %}
				</div><!-- col-sm-12 -->

			</div><!-- row -->
		</div><!-- container -->
	</section><!-- section -->

{% endblock %}