<!--	<div class="main-slider">-->
<!--		<div id="slider">-->

<!--			<div class="ls-slide" data-ls="bgsize:cover; bgposition:50% 50%; duration:4000; transition2d:104; kenburnsscale:1.00;">-->
<!--				&lt;!&ndash;<img src="images/slider-1-1600x800.jpg" class="ls-bg" alt="" />&ndash;&gt;-->
<!--				<img src="../static/images/slider-mingshengguji-1.jpg" class="ls-bg" alt="" />-->

<!--					<div class="slider-content ls-l" style="top:60%; left:30%;" data-ls="offsetyin:100%; offsetxout:-50%; durationin:800; delayin:100; durationout:400; parallaxlevel:0;">-->
<!--						<a class="btn" href="#">濱海灣</a>-->
<!--						<h3 class="title"><b>魚尾獅</b></h3>-->
<!--						<h6>1965-2019</h6>-->
<!--					</div>-->

<!--			</div>&lt;!&ndash; ls-slide &ndash;&gt;-->

<!--			<div class="ls-slide" data-ls="bgsize:cover; bgposition:50% 50%; duration:4000; transition2d:104; kenburnsscale:1.00;">-->
<!--				&lt;!&ndash;<img src="images/slider-2-1600x800.jpg" class="ls-bg" alt="" />&ndash;&gt;-->
<!--				<img src="../static/images/slider-shuanglin.jpg" class="ls-bg" alt="" />-->

<!--					<div class="slider-content ls-l" style="top:60%; left:30%;" data-ls="offsetyin:100%; offsetxout:-50%; durationin:800; delayin:100; durationout:400; parallaxlevel:0;">-->
<!--						<a class="btn" href="#">184 Jalan Toa Payoh, Singapore 319944</a>-->
<!--						<h3 class="title"><b>雙林寺</b></h3>-->
<!--					</div>-->

<!--			</div>&lt;!&ndash; ls-slide &ndash;&gt;-->
<!--		</div>&lt;!&ndash; slider &ndash;&gt;-->
<!--	</div>&lt;!&ndash; main-slider &ndash;&gt;-->
{% extends "base_slider.html" %}
{% block content %}

	<section class="section blog-area">
		<div class="container">
			<div class="row">
				<div class="col-sm-0 col-md-1 col-lg-2"></div>

				<div class="col-sm-12 col-md-10 col-lg-8">
					<div class="sidebar-section tags-area">
							<h4 class="title"><b class="light-color">黃火若</b></h4>
							<ul class="tags">
								<li><a class="btn" href="poem-content.html">大世界紀遊(1943)</a></li>
								<li><a class="btn" href="http://www.gsfccp.com/index.php/list-44.html" target="_blank">紅燈碼頭口占(1944)</a></li>
								<li><a class="btn" href="https://upoets09.wixsite.com/upoets" target="_blank">吉里汶元旦山行遇雨(1945)</a></li>
								<li><a class="btn" href="poem-content.html">苦熱(1964）</a></li>
							</ul>
					</div><!-- sidebar-section tags-area -->
					<div class="sidebar-section tags-area">
							<h4 class="title"><b class="light-color">劉思</b></h4>
							<ul class="tags">
								<li><a class="btn" href="http://www.sgwritings.com/bbs/forumdisplay.php?fid=94" target="_blank">東海岸觀日出(1959)</a></li>
								<li><a class="btn" href="http://www.gsfccp.com/index.php/list-44.html" target="_blank">紅燈碼頭口占(1944)</a></li>
								<li><a class="btn" href="https://upoets09.wixsite.com/upoets" target="_blank">讀南大宣言(1954)</a></li>
								<li><a class="btn" href="#" target="_blank">甲午星城春望(1954)</a></li>
								<li><a class="btn" href="#" target="_blank">從加東出勿洛臨海水閣(1954)</a></li>
								<li><a class="btn" href="#" target="_blank">湖畔縱筆(1957)</a></li>
								<li><a class="btn" href="#" target="_blank">夜車過默特卡橋(1958)</a></li>
								<li><a class="btn" href="#" target="_blank">效忠週前夕車過獨立橋(1959)</a></li>
							</ul>
					</div>

					<div class="sidebar-section tags-area">
							<h4 class="title"><b class="light-color">劉天中</b></h4>
							<ul class="tags">
								<li><a class="btn" href="http://www.sgwritings.com/bbs/forumdisplay.php?fid=94" target="_blank">聲聲慢(1967) </a></li>
								<li><a class="btn" href="#" target="_blank">湖畔縱筆(1957)</a></li>
								<li><a class="btn" href="#" target="_blank">夜車過默特卡橋(1958)</a></li>
								<li><a class="btn" href="#" target="_blank">效忠週前夕車過獨立橋(1959)</a></li>
							</ul>
					</div>
					<div class="about-author center-text">
						<!--<div class="author-image"><img src="images/author-1-200x200.jpg" alt="Autohr Image"></div>-->
						<br/>
						<br/>

						<h4 class="author-name"><b class="light-color">
							大世界紀遊(1943) </b></h4>
						<h6 class="author-name"><b class="light-color">
							黃火若</b></h6>

						<br/>

						<p>行屍空有舊形骸，面目全非劇可哀。</p>
						<p>世界如今成鬼域，牛頭馬面一齊來。</p>
						<br/>

						<p>黃火若《今是堂剩稿》</p>
						<br/>

					</div>
					<br />
					<br />
					<div class="about-author center-text">
						<!--<div class="author-image"><img src="images/author-1-200x200.jpg" alt="Autohr Image"></div>-->
						<br/>
						<br/>

						<h4 class="author-name"><b class="light-color">
							紅燈碼頭口占(1944) </b></h4>
						<h6 class="author-name"><b class="light-color">
							黃火若</b></h6>

						<br/>

						<p>星河盡日水瀠洄，擊楫無能大可哀。</p>
						<p>料得兒曹應不解，阿爺底事未歸來？</p>
						<br/>

						<p>黃火若《今是堂剩稿》</p>
						<br/>

					</div>

					<br />
					<br />
					<div class="about-author center-text">
						<!--<div class="author-image"><img src="images/author-1-200x200.jpg" alt="Autohr Image"></div>-->
						<br/>
						<br/>

						<h4 class="author-name"><b class="light-color">
							吉里汶元旦山行遇雨(1945) </b></h4>
						<h6 class="author-name"><b class="light-color">
							黃火若</b></h6>

						<br/>
						<p>四野狼煙入望遙，山行盡日雨瀟瀟。</p>
						<p>可憐此地巉岩少，終古人文兩寂寥。</p>
						<br/>

						<p>黃火若《今是堂剩稿》</p>
						<br/>

					</div>

					<br />
					<br />
					<div class="about-author center-text">
						<!--<div class="author-image"><img src="images/author-1-200x200.jpg" alt="Autohr Image"></div>-->
						<br/>
						<br/>

						<h4 class="author-name"><b class="light-color">
							東海岸觀日出(1959) </b></h4>
						<h6 class="author-name"><b class="light-color">
							劉思</b></h6>

						<br/>
						<p>其一</p>
						<br/>
						<p>獨立乾坤壯，當風意氣豪。</p>
						<p>拍天濤擁日，那得比人高。</p>
						<br/>

						<p>其二</p>
						<br/>
						<p>誰許誇天驕，我來覺自豪。</p>
						<p>早潮浩蕩處，日點乾坤燒。</p>
						<br/>

						<p>劉思《劉思詩詞集》</p>
						<br/>

					</div>

					<br />
					<br />
					<div class="about-author center-text">
						<!--<div class="author-image"><img src="images/author-1-200x200.jpg" alt="Autohr Image"></div>-->
						<br/>
						<br/>

						<h4 class="author-name"><b class="light-color">
							讀南大宣言(1954) </b></h4>
						<h6 class="author-name"><b class="light-color">
							劉思</b></h6>

						<br/>
						<p>千秋宣父善傳經，居敬行仁致太平。</p>
						<p>莫道天涯即化外，靈光今已照獅城。</p>
						<br/>

						<p>劉思《劉思詩詞集》</p>
						<br/>
						<p>评：書云：“天下為公”又“有教無類”，可謂最高的“愛的教育”原則，殊符南大宗旨。</p>
						<br/>

					</div>

					<br />
					<br />
					<div class="about-author center-text">
						<!--<div class="author-image"><img src="images/author-1-200x200.jpg" alt="Autohr Image"></div>-->
						<br/>
						<br/>

						<h4 class="author-name"><b class="light-color">
							甲午星城春望(1954) </b></h4>
						<h6 class="author-name"><b class="light-color">
							劉思</b></h6>

						<br/>
						<p>綺思如春水，連天問幾程。</p>
						<p>宮中才舞鳳，花外又啼鶯。</p>
						<p>聞道河飛白，渾忘山吐靑。</p>
						<p>心身異主客，風下若為情。</p>

						<br/>

						<p>劉思《劉思詩詞集》</p>
						<br/>
						<p>注一：俗諺“黃河自有澄清日”。</p>
						<p>注二：星洲地居風下。</p>
						<br/>

					</div>

					<br />
					<br />
					<div class="about-author center-text">
						<!--<div class="author-image"><img src="images/author-1-200x200.jpg" alt="Autohr Image"></div>-->
						<br/>
						<br/>

						<h4 class="author-name"><b class="light-color">
							從加東出勿洛臨海水閣(1954) </b></h4>
						<h6 class="author-name"><b class="light-color">
							劉思</b></h6>

						<br/>
						<p>馬頭何物矗，卓犖是高臺。</p>
						<p>廣澤疑無路，太虛竟有階。</p>
						<p>昂然攜日上，莞爾看雲開。</p>
						<p>忽誤臺為馬，風前騁一回。</p>

						<br/>

						<p>劉思《劉思詩詞集》</p>
						<br/>

					</div>

					<br />
					<br />
					<div class="about-author center-text">
						<!--<div class="author-image"><img src="images/author-1-200x200.jpg" alt="Autohr Image"></div>-->
						<br/>
						<br/>

						<h4 class="author-name"><b class="light-color">
							湖畔縱筆(1957) </b></h4>
						<h6 class="author-name"><b class="light-color">
							劉思</b></h6>

						<br/>
						<p>走馬向嘉東，黌宮一點紅。</p>
						<p>衣冠異漢制，禮樂猶唐風。</p>
						<p>大道包天大，中庸占日中。</p>
						<p>池魚亦被化，拍水看成龍。</p>

						<br/>

						<p>劉思《劉思詩詞集》</p>
						<br/>
						<p>本校（中正中學）第十三屆高中畢業班同學，出版紀念特刊，向我拉稿，真不知說什麼才好；寫幾句韻語，湊數就是。見笑，見笑。</p>
						<br/>

					</div>

					<br />
					<br />
					<div class="about-author center-text">
						<!--<div class="author-image"><img src="images/author-1-200x200.jpg" alt="Autohr Image"></div>-->
						<br/>
						<br/>

						<h4 class="author-name"><b class="light-color">
							夜車過默特卡橋(1958) </b></h4>
						<h6 class="author-name"><b class="light-color">
							劉思</b></h6>

						<br/>
						<p>解憂何處去，乘興向加東。</p>
						<p>不夜歌聲暖，長春花氣濃。</p>
						<p>紅樓初得月，碧海竟飛虹。</p>
						<p>一笑吹簫過，從茲入畫中。</p>

						<br/>

						<p>劉思《劉思詩詞集》</p>
						<br/>

					</div>

					<br />
					<br />
					<div class="about-author center-text">
						<!--<div class="author-image"><img src="images/author-1-200x200.jpg" alt="Autohr Image"></div>-->
						<br/>
						<br/>

						<h4 class="author-name"><b class="light-color">
							效忠週前夕車過獨立橋(1959) </b></h4>
						<h6 class="author-name"><b class="light-color">
							劉思</b></h6>

						<br/>
						<p>高斾看飛揚，光芒射四方。</p>
						<p>海嶠才鳳至，雲漢早龍驤。</p>
						<p>揭地眞成主，開天即是鄉。</p>
						<p>望洋忽一慟，永念毋相忘。</p>

						<br/>

						<p>劉思《劉思詩詞集》</p>
						<br/>

					</div>

					<br />
					<br />
					<div class="about-author center-text">
						<!--<div class="author-image"><img src="images/author-1-200x200.jpg" alt="Autohr Image"></div>-->
						<br/>
						<br/>

						<h4 class="author-name"><b class="light-color">
							聲聲慢(1967) </b></h4>
						<h6 class="author-name"><b class="light-color">
							劉天中</b></h6>

						<br/>
						<p>胡姬迎道，喬木葱籠，獅國且繫遊蹤。</p>
						<p>遠望天邊雲湧，浪擊長空。</p>
						<p>爭知彈丸小島，竟控綰寰宇交通。</p>
						<p>驚奇處，正蕉林椰下，猶布華風。</p>
						<br/>
						<p>回顧少年豪氣，還幸中年隱約蘊心胸。</p>
						<p>指點關山壯美，暮鼓晨鐘。</p>
						<p>興亡事，仍未定，四方多伏虎潛龍。</p>
						<p>千秋業，看誰能綜合西東？</p>

						<br/>

						<p>劉思《劉思詩詞集》</p>
						<br/>

					</div>

					<br />
					<br />
					<div class="about-author center-text">
						<br/>
						<br/>

						<h4 class="author-name"><b class="light-color">
							花葩山晚望 </b></h4>
						<h6 class="author-name"><b class="light-color">
							劉天中</b></h6>

						<br/>
						<p>北土丹楓落，南洲粉蝶飛。</p>
						<p>臺高花笑浪，閣晚水含暉。</p>

						<br/>

						<p>劉天中《劉天中詩詞集》</p>
						<br/>

					</div>

					<br />
					<br />
					<div class="about-author center-text">
						<br/>
						<br/>

						<h4 class="author-name"><b class="light-color">
							實里達蓄水池 </b></h4>
						<h6 class="author-name"><b class="light-color">
							劉天中</b></h6>

						<br/>
						<p>亭外烟霞淡，園中草木深。</p>
						<p>遠山靑似黛，嫩葉綠成陰。</p>
						<p>暮色林邊合，鶯聲花底尋。</p>
						<p>春風堤上路，絲絮欲沾襟。</p>

						<br/>

						<p>劉天中《劉天中詩詞集》</p>
						<br/>

					</div>

					<br />
					<br />
					<div class="about-author center-text">
						<br/>
						<br/>

						<h4 class="author-name"><b class="light-color">
							裕廊港脚吃魚 </b></h4>
						<h6 class="author-name"><b class="light-color">
							劉天中</b></h6>

						<br/>
						<p>海角數山圍，漁村月照扉。</p>
						<p>今宵潮正湧，來試石斑肥。</p>


						<br/>

						<p>劉天中《劉天中詩詞集》</p>
						<br/>

					</div>

					<br />
					<br />
					<div class="about-author center-text">
						<br/>
						<br/>

						<h4 class="author-name"><b class="light-color">
							菩薩蠻（約1972） </b></h4>
						<h6 class="author-name"><b class="light-color">
							劉天中</b></h6>

						<br/>
						<p>壬子夏，與李宏賁教授訪黃勗吾教授於南大文物館。承引導參觀。蓋所藏多屬自動捐獻者。足見各方之熱烈支持。心有所感，即席倚聲。</p>
						<br/>
						<br/>

						<p>端陽過後春猶在，芳亭接翠烟如帶。</p>
						<p>曙色透芸窗，花香書更香。</p>
						<br/>
						<p>玉樓開寶殿，名物爭相獻。</p>
						<p>星島啓文風，東南化雨中。</p>

						<br/>
						<br/>

						<p>劉天中《劉天中詩詞集》</p>
						<br/>

					</div>

					<br />
					<br />
					<div class="about-author center-text">
						<br/>
						<br/>

						<h4 class="author-name"><b class="light-color">
							清平樂·星洲即事 </b></h4>
						<h6 class="author-name"><b class="light-color">
							劉天中</b></h6>

						<br/>

						<p>晚潮新漲，小艇忙雙漿。</p>
						<p>接水陸工商攘攘，一派繁華景象。</p>
						<br/>
						<p>滿城四季飛花，朱簷綉圃家家。</p>
						<p>地控東西通道，此間豈是天涯？</p>
						<br/>

						<p>劉天中《劉天中詩詞集》</p>
						<br/>

					</div>

					<br />
					<br />
					<div class="about-author center-text">
						<br/>
						<br/>

						<h4 class="author-name"><b class="light-color">
							賣花聲·萊佛士遺像   次朱彜尊雨花台韻 </b></h4>
						<h6 class="author-name"><b class="light-color">
							劉天中</b></h6>

						<br/>

						<p>銅像塑沙灣，人去船還。</p>
						<p>殘碑猶繫鐵欄干。</p>
						<p>帝國漸隨紅日落，換了旗竿。</p>
						<br/>
						<p>歲序幾經寒，燕繞空壇。</p>
						<p>又從廢壘起雕闌。</p>
						<p>試看於今星月夜，燈火連山！</p>
						<br/>
						<br/>
						<p>劉天中《劉天中詩詞集》</p>
						<br/>

					</div>

					<br />
					<br />
					<div class="about-author center-text">
						<br/>
						<br/>

						<h4 class="author-name"><b class="light-color">
							賣花聲·重遊軍港十五條石小蓬萊觀音堂   次朱彜尊雨花台韻 </b></h4>
						<h6 class="author-name"><b class="light-color">
							劉天中</b></h6>

						<br/>

						<p>林海蔭森灣，靜聽潮還。</p>
						<p>潮聲初渡石欄干。</p>
						<p>水似眼波橫一脈，倒影千竿。</p>
						<br/>
						<p>脩竹倚微寒，夕照茅壇。</p>
						<p>小蓬萊外可憑闌。</p>
						<p>裊裊靑烟浮翠色，眉樣新山。</p>

						<br/>
						<br/>
						<p>劉天中《劉天中詩詞集》</p>
						<br/>

					</div>

					<br />
					<br />
					<div class="about-author center-text">
						<br/>
						<br/>

						<h4 class="author-name"><b class="light-color">
							雲南園夜 </b></h4>
						<h6 class="author-name"><b class="light-color">
							劉太希</b></h6>

						<br/>

						<p>餘生幽獨送年華，食粥棲茅願已奢。</p>
						<p>月白風淸詩世界，金迷紙醉夢生涯。</p>
						<p>心遊邃古原無佛，機發龍蛇那有家。</p>
						<p>閑味飽諳忘物我，雞蟲得失任紛拏。</p>

						<br/>
						<br/>
						<p>劉太希《竹林精舍詩（附詞錄）》</p>
						<br/>

					</div>

					<br />
					<br />
					<div class="about-author center-text">
						<br/>
						<br/>

						<h4 class="author-name"><b class="light-color">
							柔佛道中感事 </b></h4>
						<h6 class="author-name"><b class="light-color">
							劉太希</b></h6>

						<br/>

						<p>聰明容易拙方超，太璞渾淪謝琢雕。</p>
						<p>叢莽夷爲芳草地，女蘿牽上赤欄橋。</p>
						<p>陳陳諸相原非相，汩汩來潮送去潮。</p>
						<p>能照大圜千種態，始知明月是天驕。</p>

						<br/>
						<br/>
						<p>劉太希《竹林精舍詩（附詞錄）》</p>
						<br/>

					</div>

				</div><!-- col-sm-12 -->
			</div><!-- row -->
		</div><!-- container -->
	</section><!-- section -->

{% endblock %}