{% extends "base_slider.html" %}
{% block content %}

	<section class="section blog-area">
        {% if blog_content %}
			<section class="blog-area">
                    <div class="container">
                    <div class="row">
                        <div class="col-lg-2 col-md-12"></div>
                        <div class="col-lg-8 col-md-12">
                            <div class="blog-posts">
                                <div class="single-post">
                                    <!--<div class="image-wrapper"><img src="images/blog-1-1000x600.jpg" alt="Blog Image"></div>-->
                                    {% if blog_img %}
                                        <div class="image-wrapper"><img src={{ blog_img }} alt="Blog Image"></div>
                                    {% endif %}

                                    <br />
                                    <h3 class="title">
                                        <a href="#"><b class="light-color">
                                            {% if blog_title %}
                                                {{ blog_title }}
                                            {% endif %}
                                    </b></a></h3>


                                    <p>
                                        {% if blog_content %}
                                            {{ blog_content }}
                                        {% endif %}

                                    </p>
                                    <br />
                                    {% if blog_link %}
                                        <a class="btn read-more-btn" target="_blank" href="{{ blog_link }}"><b>瀏覽更多</b></a>
                                    {% endif %}
                                </div><!-- single-post -->

                            </div><!-- blog-posts -->
                        </div><!-- col-lg-4 -->
                        <br/>
                        <br/>
                        <br/>
                    </div><!-- row -->
                </div><!-- container -->
		    </section><!-- section -->
        {% endif %}


		<div class="container">
			<div class="row">
				<div class="col-sm-0 col-md-1 col-lg-2"></div>
				<div class="col-sm-12 col-md-10 col-lg-8">
					{% if main_content.items() %}
						{% for poet_name, poet_info_dict in main_content.items() %}
							<div class="sidebar-section tags-area">
									<h4 class="title"><b class="light-color">{{ poet_name }}
                                        {% if poet_info_dict['yearOfBirth'] or poet_info_dict['yearOfDeath']  %}
                                            (
                                                {% if poet_info_dict['yearOfBirth'] %}
                                                    {{ poet_info_dict['yearOfBirth'] }}
                                                {% else %}
                                                    ?
                                                {% endif %} -
                                                {% if poet_info_dict['yearOfDeath'] %}
                                                    {{ poet_info_dict['yearOfDeath'] }}
                                                {% else %}
                                                    ?
                                                {% endif %}
                                            )
                                        {% endif %}
                                    </b></h4>
                                    <!--poet introduction-->
                                    {% if poet_info_dict['description'] %}
                                        {% if poet_info_dict['photo_link'] %}
                                            <br/>
                                        {% endif %}

                                        <div class="sidebar-section about-author">
                                            {% if poet_info_dict['photo_link'] %}
                                                <!--<div class="author-image"><img src="images/author-1-200x200.jpg" alt="Autohr Image"></div>-->
                                                <div class="author-image"><img src="{{ poet_info_dict['photo_link'] }}" alt="Autohr Image"></div>
                                                {% if poet_info_dict['photo_desc'] %}
                                                    <h5 class="author-name center-text">
                                                        <b class="light-color">{{ poet_info_dict['photo_desc'] }}</b>
                                                    </h5>
                                                {% endif %}
                                                <!--<h4 class="author-name center-text"><b class="light-color">照片</b></h6>-->
                                                <br/>
                                            {% else %}
                                                <br />
                                                <br />
                                            {% endif %}

                                            <p>
                                                &nbsp;&nbsp; &nbsp;&nbsp; &nbsp; {{ poet_info_dict['description'] }}
                                            </p>
                                            <br />
                                            {% if poet_info_dict['source'] %}
                                                <p align="right"> ——《{{ poet_info_dict['source'] }}》</p>
                                            {% endif %}

                                            <!--<div class="signature-image"><img src="images/signature-image.png" alt="Signature Image"></div>-->
                                            {% if poet_info_dict['link'] %}
                                                <div align="right">
                                                    <a class="read-more-link" target="_blank"
                                                       href="{{ poet_info_dict['link'] }}">
                                                        <b>了解更多</b>
                                                    </a>
                                                </div>
                                            {% endif %}

                                        </div>
                                    {% endif %}

                                    <!--poet's poems-->
									<ul class="tags">
										{% for poem_name in poet_info_dict['titles'] %}
											<li><a class="btn" href="{{ url_for('poem_content_page', category=category, poem_name=poem_name, author_name=poet_name ) }}">
												{{ poem_name }}
											</a></li>
										{% endfor %}
									</ul>

                                    <!--if has poet introduction-->
                                    <br/>
                                    <br/>
                                    <br/>
                                    <br/>
							</div>
						{% endfor %}
					{% else %}
                        <br/>
                        <br/>
						<p class="text-center"><b>暫無作品</b></p>
                        <br/>
                        <br/>
                        <br/>
                        <br/>
					{% endif %}
				</div><!-- col-sm-12 -->

			</div><!-- row -->
		</div><!-- container -->
	</section><!-- section -->

{% endblock %}